/*
*
* Typography
*
*/


@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?') format('eot'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
}

[data-icon]:before {
  font-family: icomoon; 
  content: attr(data-icon);
  speak: none;
  font-size:32px;
  color:$icon_color;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration:none;
}

