
@import "resets";
@import "branding";
@import "typography";
@import "color_scheme";
@import "elements";
@import "ggs_baseline";
@import "variables_mixins";


/*
 * Structure
 * 
 */

article {
  margin-top:50px;
}

header {

}

section {
  margin:25px 0px 0px 0px;
}

#colors {
  float:left;
  display:inline-block;
}

#font_weights_styles {
  float:left;
  display:inline-block;
}

#headers {
  display:inline-block;
}

#body {
  clear:both;
}


/*
*
*  Simple fluid media
*
*/

figure {
  position: relative;
}
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}
img {
  max-width:100%;
  height:auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


/*
 * Content
 * 
 */

#colors {
  float:left;
  display:inline-block;
}

/*
 * Layout
 * 
 */

@include headblock_three;
@include headblock_two;
@include headblock_one;
@include bodyblock_two;
