
@import "resets";
@import "branding";
@import "typography";
@import "color_scheme";
@import "elements";
@import "ggs_baseline";
@import "variables_mixins";


/*
 * Structure
 * 
 */

article {
  margin-top:50px;
}

header {
  text-align:center;
}

/*
*
*  Simple fluid media
*
*/

figure {
  position: relative;
}
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}



