//global styles: element selectors, decendent selectors, child selectors, pseudo-classes
//no class or ID selectors

@import "config";

//structure

html, body {
  position: absolute;
  display: block;
  height: auto !important;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
	margin:0;
	padding:0;
}

body {
  background:$background;
}

.container {
  height: auto !important;
  min-height: 100%;
  height: 100%;
}

//typography

* {
	font-family:'Open Sans', sans-serif;
}

a {
	color:blue;
}

a:hover {
	color:red;
}

li {
  list-style: none;
  display: inline-block;
}

//background
 
 background {

 }

//responsive grid

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


/*
*
* Zoomable baseline grid
* type size presets
*
*/

//
// Important numbers
//

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;

body {
  /* 16px / 24px */
  font-size: $font-size / 16 * 1em;
  line-height: #{$line / $em}em;
}

@mixin small {
  /* 13px / 18px */
  font-size: #{($font-size*0.8125) / $em}em;
  line-height: ($line*0.75) / ($font-size*0.8125) * 1em;
}
@mixin normal {
  /* 16px / 24px */
  font-size: #{$font-size / $em}em;
  line-height: #{$line / $em}em; /* 24 */
}

h3 {
  @include normal;
}

@mixin large {
  /* 26 / 36px */
  font-size: #{26 / $em}em;
  line-height: ($line*1.5) / 26 * 1em;
}

h2, h1 {
  @include large;
}

@mixin huge {
  /* 42px / 48px */
  font-size: #{42 / $em}em;
  line-height: ($line*2) / 42 * 1em;
}

@mixin massive {
  /* 64px */
  font-size: #{64 / $em}em;
  line-height: ($line*3) / 73 * 1em;
}

@mixin gigantic {
  /* 110px / 120px */
  font-size: #{110 / $em}em;
  line-height: ($line*5) / 110 * 1em;
}


/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

#twoway {
  margin: 0 $column;
}

h1, h2 {
  margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
  font-weight: normal;
}

h3 {
  margin: #{24/$em}em 0 #{24/$em}em;
}

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.wrapper {
  padding: 0 #{($line/2)/$em}em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
}


/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body {
  width: #{640/$em}em;
  margin: 0 auto;
  font-size: #{($font-size + 1) / $em}em;
}

.ie h1 {
  @include huge;
  margin: (48/42*1em) 0 (24/42*1em);
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {

  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: #{($font-size + 1) / $em}em;
  }

  h1 {
    @include huge;
    margin: (48/42*1em) 0 (24/42*1em);
  }

}


/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {

  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: #{($font-size) / $em}em;
  }

  #twoway .wrapper {
    float: left;
    width: 50%;
  }

}


/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {

  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: #{($font-size + 1) / $em}em;
  }
}


/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {

  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: #{($font-size) / $em}em;
  }

 #twoway {
    margin: 0 $column*3;
  }

}


/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {

  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: #{($font-size + 1) / $em}em;
  }

}


/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {

  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: #{($font-size) / $em}em;
  }

  #twoway {
    margin: 0 $column*5;
  }

}


/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {

  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: #{($font-size + 1) / $em}em;
  }

}


/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {

  #twoway {
    margin: 0 $column*1;
  }

  .wrapper {
    width: 37.5%;
    margin-left: 25%;
  }

  #twoway .wrapper {
    width: 25%;
  }

  #twoway .wrapper:first-child {
    margin-left: 25%;
  }

}


/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {

  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size: #{($font-size + 2) / $em}em;
    max-width: (2560/$em)em;
  }

}
