/*
*
* Elements
*
*/

@import "variables_mixins";

#main_nav {
  background-color: $colorA;
  border-bottom: 5px solid;
  border-color: hsla(0,0%,100%, 0.7);;
  width: 100%;
  height: 42px;
  position: fixed;
  margin-left:0px;
}

#main_nav_menu {
  text-align: center;
}

.main_nav_branding {

  }

li.main_nav_item {
  vertical-align: top;
  padding:0px 0px 0px 0px;
  h2 {
    vertical-align: middle;
    margin:0px 25px;
    color:$colorC;
  }
}

#faded_hr {
  background-color: hsla(0,0%,100%, 0.7);
  height: 10px;
}

#elements {
  display:inline-block;
  float:left; 
}

#icon_sheet {
  height:60px;
  width:195px;
}

@font-face {
  font-family: "icomoon";
  src: url('../../assets/fonts/icomoon.eot') format('eot'), url('../../assets/fonts/icomoon.woff') format('woff'), url('../../assets/fonts/icomoon.ttf') format('truetype');
}

#nav_container {
    border-bottom:2px solid $colorA;
}

#search_input {
  float:right;
  display:inline-block;
}

[data-icon]:before {
  font-family: 'icomoon'; 
  content: attr(data-icon);
  speak: none;
  color:$icon_color;
  vertical-align: middle; 
}

.search_icon[data-icon]:before  {
  font-family: 'icomoon';
  font-size:8px; 
  content: attr(data-icon);
  speak: none;
  color:white;
  vertical-align: middle; 
}

form [data-icon]:before {
   font-size:19px;
}

button {
  @include button($colorB, 1px);
  padding:7px 15px 3px;
  vertical-align:middle;
}

button:hover {
  color:$colorD;
}

#search_input button {
  @include button($colorA, 0px);
  height:24px;
}

#search_input {
  margin:0px 0px 10px 10px;
}

input[type="text"]#name {
   @include textField ($colorA,2px);
}

input[type="text"]#username, input[type="password"]#password {
   float:left;
   clear:both;
   margin:0px 0px 10px 0px;
   height:40px;
   font-size:30px;
   text-transform:uppercase;
}

.search_icon {
  color: white;
}

input[type="text"] {
  @include textField ($colorB,2px);
  float:left;
  height:10px;
  width:120px;
}

input[type="submit"] {
  @include submit (white,none,0px);
}

textarea {
  @include textarea (white,$colorB,2px);
}

#large_format_img_container,
#medium_format_img_container,
#small_format_img_container,
#tall_format_img_container,
#thin_format_img_container,
#micro_format_img_container {
  margin:30px 0px 0px 0px;
}

#imagery h2 {
  margin:0px;
}

#imagery img {

}

#large_format_img {
   
}

#medium_format_img {
   
}

#small_format_img {
   
}

#micro_format_img {
   
}