/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    img {padding:10px 0px 0px 0px !important;}
    img#headblock_three_b, img#headblock_three_c, img#headblock_two_b, img#bodyblock_three_b, img#bodyblock_three_c {display:none;}#layout .img_block_caption {border-bottom: 2px solid rgb(204, 204, 204);}
  }