
@import "resets";
@import "branding";
@import "typography";
@import "color_scheme";
@import "ui_elements";
@import "ggs_baseline";
@import "variables_mixins";


/*
 * Structure
 * 
 */

article {
  margin-top:50px;
}

header#project_name {
  margin: none;
}

section {
  margin:25px 0px 0px 0px;
}

#colors {
  float:left;
  display:inline-block;
}

#font_weights_styles {
  float:left;
  display:inline-block;
}

#headers {
  display:inline-block;
}

#body {
  clear:both;
}


/*
*
* Media Queries
*
*/

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  
  img {
    padding: 10px 0px 0px 0px !important; }

  img#headblock_three_b, img#headblock_three_c, img#headblock_two_b, img#bodyblock_three_b, img#bodyblock_three_c {
    display: none; }

  #layout .img_block_caption {
    border-bottom: 2px solid #cccccc; } 
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

/* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}  

/*
*
*  Simple fluid media
*
*/

figure {
  position: relative;
}
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}
img {
  max-width:100%;
  height:auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/*
 * Content
 * 
 */

#colors {
  float:left;
  display:inline-block;
}

/*
 * Layout
 * 
 */

@include headblock_three;
@include headblock_two;
@include headblock_one;
@include bodyblock_two;
